<form action="/clientes/save" method="POST">
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="txtnome">Nome:</label>
                <input type="text" id="txtnome" name="nome">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="txtendereco">Endereço:</label>
                <input type="text" id="txtendereco" name="endereco">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="txtsexo">Sexo:</label>
                <input type="text" id="txtsexo" name="sexo">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="txttelefone">Telefone:</label>
                <input type="text" id="txttelefone" name="telefone">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>